@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #006d2f;
  --color-on-primary: #ffffff;
  --color-primary-container: #25d366;
  --color-on-primary-container: #002109;
  --color-background: #f8f9fa;
  --color-on-background: #191c1d;
  --color-secondary: #5f5e5e;
  --color-secondary-container: #e4e2e1;
  --color-on-secondary-container: #656464;
  --color-surface: #f8f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #3c4a3d;
  --color-outline-variant: #bbcbb9;
  --color-tertiary: #93492e;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-3xl: 2.5rem;
}

@layer base {
  body {
    @apply bg-background text-on-background font-body;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
}
